services:
  app:
    build: .
    image: immersive-library:latest
    ports:
      - "8000:8000"
    depends_on:
      - redis
    volumes:
      - ./data:/data
    env_file:
      - .env

  redis:
    image: redis:latest
    volumes:
      - ./redis_data:/data
