<!DOCTYPE html>
<html lang="en_us">
<head>
    <title>Minecraft Skin Renderer</title>
    <script src="{{ url_for('static', path='/three.js') }}"></script>
    <script src="{{ url_for('static', path='/' + project + '/model.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/' + project + '/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>

<body>

<div class="dashboard-container">
    <div class="statistics-box">
        <div class="header">Immersive Library</div>
        <div class="subtitle">Statistics</div>
        <div class="statistic-item">{{ statistics.content }} Skins uploaded</div>
        <div class="statistic-item">{{ statistics.content_liked }} with more than 10 likes</div>
        <div class="statistic-item">{{ statistics.users }} Users registered</div>
        <div class="statistic-item">{{ statistics.likes }} Likes casted</div>
        <div class="statistic-item">{{ statistics.reports }} Reports sent</div>
        <div class="statistic-item" style="font-size: 18px">Top tags: {{ statistics.top_tags }}</div>
    </div>
    <div class="renderers-box">
        <div class="header" id="title"></div>
        <div class="subtitle" id="author"></div>
        <div class="footer" id="tags" hidden="hidden"></div>
        <div id="renderer-container" style="margin-left: auto;  margin-right: auto;"></div>
    </div>
</div>

<script type="module">
    import {renderSkin} from '{{ url_for('static', path='/' + project + '/renderer.js') }}';

    renderSkin('renderer-container', '{{ statistics.oid }}');
</script>

</body>
</html>
