<!DOCTYPE html>
<html lang="en_us">
<head>
    <title>Minecraft Skin Renderer</title>
    <script src="{{ url_for('static', path='/three.js') }}"></script>
    <script src="{{ url_for('static', path='/' + project + '/model.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/' + project + '/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>

<body>

<div class="skin-box">
    <div class="header" id="title"></div>
    <div class="subtitle" id="author"></div>
    <div id="renderer-container" style="margin-left: auto;  margin-right: auto;"></div>
    <div class="footer" id="tags"></div>
</div>

<script type="module">
    import {renderSkin} from '{{ url_for('static', path='/' + project + '/renderer.js') }}';

    renderSkin('renderer-container', '{{ contentid }}');
</script>

</body>
</html>
