<!DOCTYPE html>
<html lang="en_us">
<head>
    <title>Details</title>
    <script src="/static/three.js"></script>
    <script src="/static/pnbt.js"></script>
    <script src="/static/embed.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/default/style.css">
    <script src="/static/auth.js"></script>
</head>

<body>

<div class="content-wrapper">
    <div class="card view-box" id="view-box"></div>
</div>

<script type="module">
    embedContent('view-box', '{{ project }}', {{ contentid }});
</script>

<footer>
    <a href="/privacy">Privacy Notice</a> •
    <a href="/tos">Terms of Service</a> •
    <a href="/contact">Contact</a>
</footer>
</body>
</html>
