<!DOCTYPE html>
<html lang="en_us">
<head>
    <title>Minecraft Skin Renderer</title>
    <script src="/static/three.js"></script>
    <script src="/static/pnbt.js"></script>
    <script src="/static/embed.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/default/style.css">
    <script src="/static/auth.js"></script>
</head>

<body>

<div class="card view-box" id="view-box"></div>

<script type="module">
    embedContent('view-box', '{{ project }}', {{ contentid }});
</script>

</body>
</html>
