.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-container {
    display: flex;
    width: 800px;
}

.statistics-box {
    width: 500px;
}

.renderers-box {
    width: 300px;
}

.skin-box {
    width: 300px;
}

.view-box {
    width: 500px;
}

.statistic-item {
    font-size: 24px;
    margin: 10px;
    color: #b8c9db;
}