body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.dashboard-container {
    display: flex;
    width: 700px;
}

.statistics-box {
    width: 600px;
}

.renderers-box {
    width: 200px;
}

.skin-box {
    width: 300px;
}

.statistics-box,
.renderers-box,
.skin-box {
    margin: 5px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #343a40;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
}

.statistic-item {
    font-size: 24px;
    margin: 10px;
    color: rgba(170, 170, 170, 255);
}