requests==2.31.0
python-dotenv~=1.0.0
fastapi==0.103.2
starlette==0.31.1
pydantic==2.4.2
google-auth==2.23.2
databases==0.8.0
google-api-python-client==2.101.0
orjson==3.9.7
prometheus-fastapi-instrumentator==6.1.0
Pillow==10.0.1
aiosqlite
python-multipart