requests~=2.32.2
python-dotenv~=1.0.1
fastapi~=0.111.0
starlette~=0.37.2
pydantic~=2.7.2
google-auth~=2.29.0
databases~=0.9.0
google-api-python-client~=2.131.0
orjson~=3.10.3
prometheus-fastapi-instrumentator~=7.0.0
Pillow~=10.3.0
aiosqlite~=0.20.0
python-multipart